html::-webkit-scrollbar {
  // overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f8efef;
}

img,
picture {
  max-width: 100%;
}

.app {
  width: 100%;
  margin: 0 auto;
}
